In [1]:
import pandas as pd
import yaml

In [2]:
with open("../config.yaml", "r") as file:
    paths = yaml.safe_load(file)

print(paths['data']['clean']['file1'])
print(paths['data']['clean']['file2'])
print(paths['data']['clean']['file3'])
print(paths['data']['clean']['file4'])

../data/clean/earthquake_data_clean.csv
../data/clean/inventory_clean.csv
../data/clean/value_1997-2020_clean.csv
../data/clean/value_2019-2024_clean.csv

In [3]:
# load files

df1 = pd.read_csv(paths['data']['clean']['file1']) #, usecols=[0, 1, 2, 3, 4])
df2 = pd.read_csv(paths['data']['clean']['file2'])
df3 = pd.read_csv(paths['data']['clean']['file3'])
df4 = pd.read_csv(paths['data']['clean']['file4'])

In [4]:
# preliminary view

df1.head()

,id,occurred_at,city,latitude,longitude,depth,magnitude,gasfield_id,created_at,updated_at,knmi_guid
0,1,1986-12-26 07:47:00,Assen,52.992,6.548,1.0,2.8,NaN,NaN,NaN,NaN
1,2,1987-12-14 20:49:00,Hooghalen,52.928,6.552,1.5,2.5,NaN,NaN,NaN,NaN
2,3,1989-12-01 20:09:00,Kwadijk,52.529,4.971,1.2,2.7,NaN,NaN,NaN,NaN
3,4,1991-02-15 02:11:00,Emmen,52.771,6.914,3.0,2.2,NaN,NaN,NaN,NaN
4,5,1991-04-25 10:26:00,Eleveld,52.952,6.575,3.0,2.6,NaN,NaN,NaN,NaN

In [5]:
df2.head()

,region,period,total,total_occupied,total_not_occupied,oppucation_ratio
0,Nederland,2012-01-01,7386743.0,6975208.0,411535.0,0.944287
1,Nederland,2013-01-01,7449298.0,7055105.0,394193.0,0.947083
2,Nederland,2014-01-01,7535315.0,7143163.0,392152.0,0.947958
3,Nederland,2015-01-01,7587964.0,7211229.0,376735.0,0.950351
4,Nederland,2016-01-01,7641323.0,7276184.0,365139.0,0.952215

In [6]:
df3.head(50)

    period          region  mean_value
0     1997       Nederland        79.0
1     1998       Nederland        79.0
2     1999       Nederland        80.0
3     2000       Nederland        80.0
4     2001       Nederland       131.0
5     2002       Nederland       132.0
6     2003       Nederland       133.0
7     2004       Nederland       134.0
8     2005       Nederland       200.0
9     2006       Nederland       201.0
10    2007       Nederland       216.0
11    2008       Nederland       232.0
12    2009       Nederland       241.0
13    2010       Nederland       242.0
14    2011       Nederland       236.0
15    2012       Nederland       232.0
16    2013       Nederland       223.0
17    2014       Nederland       211.0
18    2015       Nederland       206.0
19    2016       Nederland       208.0
20    2017       Nederland       217.0
21  2018**       Nederland       230.0
22   2019*       Nederland       248.0
23   2020*       Nederland       270.0
24    1997  Groningen (PV)        57.0
25    1998  Groningen (PV)        58.0
26    1999  Groningen (PV)        58.0
27    2000  Groningen (PV)        59.0
28    2001  Groningen (PV)        87.0
29    2002  Groningen (PV)        88.0
30    2003  Groningen (PV)        89.0
31    2004  Groningen (PV)        90.0
32    2005  Groningen (PV)       141.0
33    2006  Groningen (PV)       141.0
34    2007  Groningen (PV)       158.0
35    2008  Groningen (PV)       174.0
36    2009  Groningen (PV)       179.0
37    2010  Groningen (PV)       180.0
38    2011  Groningen (PV)       178.0
39    2012  Groningen (PV)       174.0
40    2013  Groningen (PV)       168.0
41    2014  Groningen (PV)       159.0
42    2015  Groningen (PV)       154.0
43    2016  Groningen (PV)       154.0
44    2017  Groningen (PV)       157.0
45  2018**  Groningen (PV)       165.0
46   2019*  Groningen (PV)       166.0
47   2020*  Groningen (PV)       186.0
48    1997  Friesland (PV)        57.0
49    1998  Friesland (PV)        58.0

In [21]:
pivoted_df = df3.pivot(index='region', columns='period', values='mean_value')

In [22]:
pivoted_df

period,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018**,2019*,2020*
region,,,,,,,,,,,,,,,,,,,,,
's-Graveland,124.0,122.0,122.0,122.0,202.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
's-Gravendeel,79.0,80.0,80.0,81.0,122.0,125.0,127.0,128.0,190.0,192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
's-Gravenhage (gemeente),63.0,63.0,63.0,64.0,96.0,100.0,102.0,103.0,166.0,167.0,...,210.0,207.0,199.0,188.0,184.0,188.0,197.0,212.0,242.0,271.0
's-Gravenzande,99.0,99.0,98.0,100.0,147.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
's-Hertogenbosch,87.0,88.0,88.0,87.0,141.0,141.0,142.0,143.0,214.0,214.0,...,255.0,252.0,235.0,221.0,220.0,228.0,238.0,256.0,278.0,295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zwartsluis,70.0,70.0,71.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zweeloo,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zwijndrecht,67.0,66.0,67.0,67.0,119.0,119.0,122.0,122.0,175.0,174.0,...,198.0,192.0,183.0,169.0,163.0,168.0,173.0,182.0,197.0,215.0
Zwolle,72.0,72.0,73.0,74.0,116.0,117.0,117.0,118.0,179.0,181.0,...,217.0,216.0,212.0,198.0,201.0,203.0,207.0,219.0,232.0,251.0
het Bildt,51.0,52.0,52.0,53.0,82.0,84.0,86.0,86.0,141.0,142.0,...,166.0,163.0,153.0,142.0,139.0,141.0,143.0,NaN,NaN,NaN

In [27]:
# pivoted_df = pivoted_df.rename(columns={'2018**': '2018'})
# pivoted_df = pivoted_df.drop('2019*', axis=1)
# pivoted_df = pivoted_df.drop('2020*', axis=1)
pivoted_df

period,region,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,'s-Graveland,124.0,122.0,122.0,122.0,202.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'s-Gravendeel,79.0,80.0,80.0,81.0,122.0,125.0,127.0,128.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'s-Gravenhage (gemeente),63.0,63.0,63.0,64.0,96.0,100.0,102.0,103.0,166.0,...,211.0,213.0,210.0,207.0,199.0,188.0,184.0,188.0,197.0,212.0
3,'s-Gravenzande,99.0,99.0,98.0,100.0,147.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'s-Hertogenbosch,87.0,88.0,88.0,87.0,141.0,141.0,142.0,143.0,214.0,...,263.0,266.0,255.0,252.0,235.0,221.0,220.0,228.0,238.0,256.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,Zwartsluis,70.0,70.0,71.0,75.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Zweeloo,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,Zwijndrecht,67.0,66.0,67.0,67.0,119.0,119.0,122.0,122.0,175.0,...,208.0,208.0,198.0,192.0,183.0,169.0,163.0,168.0,173.0,182.0
660,Zwolle,72.0,72.0,73.0,74.0,116.0,117.0,117.0,118.0,179.0,...,216.0,223.0,217.0,216.0,212.0,198.0,201.0,203.0,207.0,219.0
661,het Bildt,51.0,52.0,52.0,53.0,82.0,84.0,86.0,86.0,141.0,...,170.0,168.0,166.0,163.0,153.0,142.0,139.0,141.0,143.0,NaN

In [24]:
df4

                  2019   2020   2021   2022   2023   2024
region
Nederland        250.0  271.0  290.0  317.0  368.0  379.0
Groningen (PV)   177.0  190.0  205.0  228.0  268.0  279.0
Fryslân (PV)     190.0  202.0  217.0  241.0  278.0  290.0
Drenthe (PV)     203.0  215.0  230.0  255.0  295.0  307.0
Overijssel (PV)  221.0  235.0  251.0  280.0  326.0  344.0
...                ...    ...    ...    ...    ...    ...
Zutphen          202.0  216.0  231.0  254.0  311.0  322.0
Zwartewaterland  216.0  225.0  237.0  262.0  297.0  315.0
Zwijndrecht      198.0  216.0  237.0  256.0  303.0  314.0
Zwolle           235.0  252.0  272.0  298.0  344.0  355.0
Bron: CBS          NaN    NaN    NaN    NaN    NaN    NaN

[374 rows x 6 columns]

In [32]:
# joining dataframes
pivoted_df = pivoted_df.reset_index()

# For df2 (bottom table):
# Set 'region' as the index
# df4 = df4.set_index('region')

# Perform the left join
joined_df = pivoted_df.set_index('region').join(df4, how='left')

# Reset the index to have 'region' as a column
joined_df = result.reset_index()

joined_df

# Optionally, save the result to a CSV file
# result.to_csv('joined_data.csv', index=False)

ValueError: cannot insert level_0, already exists

In [30]:
result = result.drop('level_0', axis=1)
result = result.drop('index', axis=1)
result

,region,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,'s-Graveland,124.0,122.0,122.0,122.0,202.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'s-Gravendeel,79.0,80.0,80.0,81.0,122.0,125.0,127.0,128.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'s-Gravenhage (gemeente),63.0,63.0,63.0,64.0,96.0,100.0,102.0,103.0,166.0,...,184.0,188.0,197.0,212.0,233.0,262.0,285.0,311.0,354.0,363.0
3,'s-Gravenzande,99.0,99.0,98.0,100.0,147.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'s-Hertogenbosch,87.0,88.0,88.0,87.0,141.0,141.0,142.0,143.0,214.0,...,220.0,228.0,238.0,256.0,281.0,298.0,318.0,341.0,398.0,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,Zwartsluis,70.0,70.0,71.0,75.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Zweeloo,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,Zwijndrecht,67.0,66.0,67.0,67.0,119.0,119.0,122.0,122.0,175.0,...,163.0,168.0,173.0,182.0,198.0,216.0,237.0,256.0,303.0,314.0
660,Zwolle,72.0,72.0,73.0,74.0,116.0,117.0,117.0,118.0,179.0,...,201.0,203.0,207.0,219.0,235.0,252.0,272.0,298.0,344.0,355.0
661,het Bildt,51.0,52.0,52.0,53.0,82.0,84.0,86.0,86.0,141.0,...,139.0,141.0,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
set(result['region'])

{"'s-Graveland",
 "'s-Gravendeel",
 "'s-Gravenhage (gemeente)",
 "'s-Gravenzande",
 "'s-Hertogenbosch",
 'Aa en Hunze',
 'Aalburg',
 'Aalsmeer',
 'Aalten',
 'Abcoude',
 'Achtkarspelen',
 'Akersloot',
 'Alblasserdam',
 'Albrandswaard',
 'Alkemade',
 'Alkmaar',
 'Almelo',
 'Almere',
 'Alphen aan den Rijn',
 'Alphen-Chaam',
 'Altena',
 'Ambt Delden',
 'Ambt Montfort',
 'Ameland',
 'Amerongen',
 'Amersfoort',
 'Ammerzoden',
 'Amstelveen',
 'Amsterdam',
 'Andijk',
 'Angerlo',
 'Anloo',
 'Anna Paulowna',
 'Apeldoorn',
 'Appingedam',
 'Arcen en Velden',
 'Arnhem',
 'Assen',
 'Asten',
 'Avereest',
 'Axel',
 'Baarle-Nassau',
 'Baarn',
 'Barendrecht',
 'Barneveld',
 'Bathmen',
 'Bedum',
 'Beek (L.)',
 'Beekdaelen',
 'Beemster',
 'Beesel',
 'Beilen',
 'Belfeld',
 'Bellingwedde',
 'Bemmel',
 'Bennebroek',
 'Berg en Dal',
 'Bergambacht',
 'Bergeijk',
 'Bergen (L.)',
 'Bergen (NH.)',
 'Bergen op Zoom',
 'Bergeyk',
 'Bergh',
 'Bergschenhoek',
 'Berkel en Rodenrijs',
 'Berkelland',
 'Bernheze',
 'Bernisse',
 'Best',
 'Beuningen',
 'Beverwijk',
 'Binnenmaas',
 'Bladel',
 'Blaricum',
 'Bleiswijk',
 'Bloemendaal',
 'Boarnsterhim',
 'Bodegraven',
 'Bodegraven-Reeuwijk',
 'Boekel',
 'Bolsward',
 'Borculo',
 'Borger',
 'Borger-Odoorn',
 'Born',
 'Borne',
 'Borsele',
 'Boskoop',
 'Boxmeer',
 'Boxtel',
 'Brakel',
 'Breda',
 'Brederwiede',
 'Breukelen',
 'Brielle',
 'Broekhuizen',
 'Bronckhorst',
 'Brummen',
 'Brunssum',
 'Budel',
 'Bunnik',
 'Bunschoten',
 'Buren',
 'Bussum',
 'Capelle aan den IJssel',
 'Castricum',
 'Coevorden',
 'Cranendonck',
 'Cromstrijen',
 'Cuijk',
 'Culemborg',
 'Dalen',
 'Dalfsen',
 'Dantumadeel',
 'Dantumadiel',
 'De Bilt',
 'De Friese Meren',
 'De Fryske Marren',
 'De Lier',
 'De Marne',
 'De Ronde Venen',
 'De Wijk',
 'De Wolden',
 'Delft',
 'Delfzijl',
 'Den Ham',
 'Den Helder',
 'Denekamp',
 'Deurne',
 'Deventer',
 'Didam',
 'Diemen',
 'Diepenheim',
 'Diepenveen',
 'Diever',
 'Dinkelland',
 'Dinxperlo',
 'Dirksland',
 'Dodewaard',
 'Doesburg',
 'Doetinchem',
 'Dongen',
 'Dongeradeel',
 'Doorn',
 'Dordrecht',
 'Drechterland',
 'Drenthe (PV)',
 'Driebergen-Rijsenburg',
 'Drimmelen',
 'Dronten',
 'Druten',
 'Duiven',
 'Dwingeloo',
 'Echt',
 'Echt-Susteren',
 'Echteld',
 'Edam-Volendam',
 'Ede',
 'Eelde',
 'Eemnes',
 'Eemsmond',
 'Eersel',
 'Egmond',
 'Eibergen',
 'Eijsden',
 'Eijsden-Margraten',
 'Eindhoven',
 'Elburg',
 'Elst',
 'Emmen',
 'Enkhuizen',
 'Enschede',
 'Epe',
 'Ermelo',
 'Etten-Leur',
 'Ferwerderadeel',
 'Ferwerderadiel',
 'Flevoland (PV)',
 'Franekeradeel',
 'Friesland (PV)',
 'Gaasterlân-Sleat',
 'Gasselte',
 'Geertruidenberg',
 'Gelderland (PV)',
 'Geldermalsen',
 'Geldrop',
 'Geldrop-Mierlo',
 'Geleen',
 'Gemert-Bakel',
 'Gendringen',
 'Gendt',
 'Genemuiden',
 'Gennep',
 'Giessenlanden',
 'Gieten',
 'Gilze en Rijen',
 'Goedereede',
 'Goeree-Overflakkee',
 'Goes',
 'Goirle',
 'Gooise Meren',
 'Goor',
 'Gorinchem',
 'Gorssel',
 'Gouda',
 'Graafstroom',
 'Graft-De Rijp',
 'Gramsbergen',
 'Grave',
 'Groenlo',
 'Groesbeek',
 'Groningen (PV)',
 'Groningen (gemeente)',
 'Grootegast',
 'Grubbenvorst',
 'Gulpen',
 'Gulpen-Wittem',
 'Haaksbergen',
 'Haaren',
 'Haarlem',
 'Haarlemmerliede en Spaarnwoude',
 'Haarlemmermeer',
 'Haelen',
 'Halderberge',
 'Hardenberg',
 'Harderwijk',
 'Hardinxveld-Giessendam',
 'Haren',
 'Harenkarspel',
 'Harlingen',
 'Harmelen',
 'Hasselt',
 'Hattem',
 'Havelte',
 'Hedel',
 'Heel',
 'Heemskerk',
 'Heemstede',
 'Heerde',
 'Heerenveen',
 'Heerewaarden',
 'Heerhugowaard',
 'Heerjansdam',
 'Heerlen',
 'Heeze-Leende',
 'Heiloo',
 'Heino',
 'Helden',
 'Hellendoorn',
 'Hellevoetsluis',
 'Helmond',
 'Hendrik-Ido-Ambacht',
 'Hengelo (Gld.)',
 'Hengelo (O.)',
 'Het Hogeland',
 'Heteren',
 'Heumen',
 'Heusden',
 'Heythuysen',
 'Hillegom',
 'Hilvarenbeek',
 'Hilversum',
 'Hoeksche Waard',
 'Hoevelaken',
 'Hof van Twente',
 'Hollands Kroon',
 'Holten',
 'Hontenisse',
 'Hoogeveen',
 'Hoogezand-Sappemeer',
 'Hoorn',
 'Horst',
 'Horst aan de Maas',
 'Houten',
 'Huissen',
 'Huizen',
 'Hulst',
 'Hummelo en Keppel',
 'Hunsel',
 'IJsselham',
 'IJsselmuiden',
 'IJsselstein',
 'Jacobswoude',
 'Kaag en Braassem',
 'Kampen',
 'Kapelle',
 'Katwijk',
 'Kerkrade',
 'Kerkwijk',
 'Kessel',
 'Kesteren',
 'Koggenland',
 'Kollumerland en Nieuwkruisland',
 'Korendijk',
 'Krimpen aan den IJssel',
 'Krimpenerwaard',
 'Laarbeek',
 'Landerd',
 'Landgraaf',
 'Landsmeer',
 'Langedijk',
 'Lansingerland',
 'Laren (NH.)',
 'Leek',
 'Leerdam',
 'Leersum',
 'Leeuwarden',
 'Leeuwarderadeel',
 'Leiden',
 'Leiderdorp',
 'Leidschendam',
 'Leidschendam-Voorburg',
 'Lelystad',
 'Lemsterland',
 'Leudal',
 'Leusden',
 'Lichtenvoorde',
 'Liemeer',
 'Lienden',
 'Liesveld',
 'Limburg (PV)',
 'Limmen',
 'Lingewaal',
 'Lingewaard',
 'Lisse',
 'Lith',
 'Littenseradiel',
 'Lochem',
 'Loenen',
 'Loon op Zand',
 'Loosdrecht',
 'Lopik',
 'Loppersum',
 'Losser',
 'Maarn',
 'Maarssen',
 'Maartensdijk',
 'Maasbracht',
 'Maasbree',
 'Maasdonk',
 'Maasdriel',
 'Maasgouw',
 'Maasland',
 'Maassluis',
 'Maastricht',
 'Made',
 'Margraten',
 'Markelo',
 'Marum',
 'Maurik',
 'Medemblik',
 'Meerlo-Wanssum',
 'Meerssen',
 'Meierijstad',
 'Meijel',
 'Menaldumadeel',
 'Menameradiel',
 'Menterwolde',
 'Meppel',
 'Middelburg (Z.)',
 'Middelharnis',
 'Midden-Delfland',
 'Midden-Drenthe',
 'Midden-Groningen',
 'Middenveld',
 'Mierlo',
 'Mill en Sint Hubert',
 'Millingen aan de Rijn',
 'Moerdijk',
 'Molenlanden',
 'Molenwaard',
 'Monster',
 'Montferland',
 'Montfoort',
 'Mook en Middelaar',
 'Moordrecht',
 'Muiden',
 'Naaldwijk',
 'Naarden',
 'Neder-Betuwe',
 'Nederhorst den Berg',
 'Nederland',
 'Nederlek',
 'Nederweert',
 'Neede',
 'Neerijnen',
 'Niedorp',
 'Nieuw-Lekkerland',
 'Nieuwegein',
 'Nieuwerkerk aan den IJssel',
 'Nieuwkoop',
 'Nieuwleusen',
 'Nijefurd',
 'Nijeveen',
 'Nijkerk',
 'Nijmegen',
 'Nissewaard',
 'Noardeast-Fryslân',
 'Noord-Beveland',
 'Noord-Brabant (PV)',
 'Noord-Holland (PV)',
 'Noordenveld',
 'Noorder-Koggenland',
 'Noordoostpolder',
 'Noordwijk',
 'Noordwijkerhout',
 'Nootdorp',
 'Norg',
 'Nuenen',
 'Nunspeet',
 'Nuth',
 'Obdam',
 'Odoorn',
 'Oegstgeest',
 'Oirschot',
 'Oisterwijk',
 'Oldambt',
 'Oldebroek',
 'Oldenzaal',
 'Olst',
 'Olst-Wijhe',
 'Ommen',
 'Onderbanken',
 'Oost Gelre',
 'Oostburg',
 'Oosterhesselen',
 'Oosterhout',
 'Oostflakkee',
 'Ooststellingwerf',
 'Oostzaan',
 'Ootmarsum',
 'Opmeer',
 'Opsterland',
 'Oss',
 'Oud-Beijerland',
 'Oude IJsselstreek',
 'Ouder-Amstel',
 'Ouderkerk',
 'Oudewater',
 'Overbetuwe',
 'Overijssel (PV)',
 'Papendrecht',
 'Peel en Maas',
 'Peize',
 'Pekela',
 'Pijnacker',
 'Pijnacker-Nootdorp',
 'Purmerend',
 'Putten',
 'Raalte',
 'Ravenstein',
 'Reeuwijk',
 'Reiderland',
 'Reimerswaal',
 'Renkum',
 'Renswoude',
 'Reusel-De Mierden',
 'Rheden',
 'Rhenen',
 'Ridderkerk',
 'Rijnsburg',
 'Rijnwaarden',
 'Rijnwoude',
 'Rijssen',
 'Rijssen-Holten',
 'Rijswijk (ZH.)',
 'Roden',
 'Roerdalen',
 'Roermond',
 'Roggel en Neer',
 'Rolde',
 'Roosendaal',
 'Rossum',
 'Rotterdam',
 'Rozenburg',
 'Rozendaal',
 'Rucphen',
 'Ruinen',
 'Ruinerwold',
 'Ruurlo',
 'Sas van Gent',
 'Sassenheim',
 'Schagen',
 'Scheemda',
 'Schermer',
 'Scherpenzeel',
 'Schiedam',
 'Schiermonnikoog',
 'Schijndel',
 'Schinnen',
 'Schipluiden',
 'Schoonebeek',
 'Schoonhoven',
 'Schoorl',
 'Schouwen-Duiveland',
 'Sevenum',
 'Simpelveld',
 'Sint Anthonis',
 'Sint-Michielsgestel',
 'Sint-Oedenrode',
 'Sittard',
 'Sittard-Geleen',
 'Skarsterlân',
 'Sleen',
 'Sliedrecht',
 'Slochteren',
 'Sluis',
 'Sluis-Aardenburg',
 'Smallingerland',
 'Smilde',
 'Sneek',
 'Soest',
 'Someren',
 'Son en Breugel',
 'Spijkenisse',
 'Stad Delden',
 'Stadskanaal',
 'Staphorst',
 'Stede Broec',
 'Steenbergen',
 'Steenderen',
 'Steenwijk',
 'Steenwijkerland',
 'Stein (L.)',
 'Stichtse Vecht',
 'Stramproy',
 'Strijen',
 'Susteren',
 'Swalmen',
 'Súdwest-Fryslân',
 'Tegelen',
 'Ten Boer',
 'Ter Aar',
 'Terneuzen',
 'Terschelling',
 'Texel',
 'Teylingen',
 'Tholen',
 'Thorn',
 'Tiel',
 'Tilburg',
 'Tubbergen',
 'Twenterand',
 'Tynaarlo',
 'Tytsjerksteradiel',
 'Ubbergen',
 'Uden',
 'Uitgeest',
 'Uithoorn',
 'Urk',
 'Utrecht (PV)',
 'Utrecht (gemeente)',
 'Utrechtse Heuvelrug',
 'Vaals',
 'Valburg',
 'Valkenburg (ZH.)',
 'Valkenburg aan de Geul',
 'Valkenswaard',
 'Veendam',
 'Veenendaal',
 'Veere',
 'Veghel',
 'Veldhoven',
 'Velsen',
 'Venhuizen',
 'Venlo',
 'Venray',
 'Vianen',
 'Vierlingsbeek',
 'Vijfheerenlanden',
 'Vlaardingen',
 'Vlagtwedde',
 'Vledder',
 'Vleuten-De Meern',
 'Vlieland',
 'Vlissingen',
 'Vlist',
 'Voerendaal',
 'Voorburg',
 'Voorhout',
 'Voorschoten',
 'Voorst',
 'Vorden',
 'Vries',
 'Vriezenveen',
 'Vught',
 'Waadhoeke',
 'Waalre',
 'Waalwijk',
 'Waddinxveen',
 'Wageningen',
 'Warmond',
 'Warnsveld',
 'Wassenaar',
 'Wateringen',
 'Waterland',
 'Weerselo',
 'Weert',
 'Weesp',
 'Wehl',
 'Werkendam',
 'Wervershoof',
 'West Betuwe',
 'West Maas en Waal',
 'Wester-Koggenland',
 'Westerbork',
 'Westerkwartier',
 'Westerveld',
 'Westervoort',
 'Westerwolde',
 'Westland',
 'Weststellingwerf',
 'Westvoorne',
 'Wierden',
 'Wieringen',
 'Wieringermeer',
 'Wijchen',
 'Wijdemeren',
 'Wijhe',
 'Wijk bij Duurstede',
 'Winschoten',
 'Winsum',
 'Winterswijk',
 'Wisch',
 'Wittem',
 'Woensdrecht',
 'Woerden',
 'Wognum',
 'Wormerland',
 'Woudenberg',
 'Woudrichem',
 'Wymbritseradiel',
 'Wûnseradiel',
 'Zaanstad',
 'Zaltbommel',
 'Zandvoort',
 'Zederik',
 'Zeeland (PV)',
 'Zeevang',
 'Zeewolde',
 'Zeist',
 'Zelhem',
 'Zevenaar',
 'Zevenbergen',
 'Zevenhuizen-Moerkapelle',
 'Zijpe',
 'Zoetermeer',
 'Zoeterwoude',
 'Zuid-Holland (PV)',
 'Zuidhorn',
 'Zuidlaren',
 'Zuidplas',
 'Zuidwolde',
 'Zundert',
 'Zutphen',
 'Zwartewaterland',
 'Zwartsluis',
 'Zweeloo',
 'Zwijndrecht',
 'Zwolle',
 'het Bildt'}

In [33]:
# export clean dataset to csv

result.to_csv('values_joined.csv', index=False)